Common/Business/Service References/ExternalContributionService/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:81/ContributionService/mex?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:81/ContributionService/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Etsi.Contribution.WCF.Interface" />
  <xs:element name="GenerateMeetingTdocListsAsynchronously">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="uids" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMeetingTdocListsAsynchronouslyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Etsi.Contribution.WCF.Interface" minOccurs="0" name="GenerateMeetingTdocListsAsynchronouslyResult" nillable="true" type="q2:ServiceResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>