Common/Business/Service References/UserRightsService/Etsi.UserRights.Interface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Etsi.UserRights.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Etsi.UserRights.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PersonRights">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ApplicationRights" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CommitteeRights" nillable="true" type="q2:ArrayOfKeyValueOfintArrayOfstringty7Ep6D1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonRights" nillable="true" type="tns:PersonRights" />
</xs:schema>